*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(11, 60, 117);
    color: antiquewhite;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 5rem;
}
.choice:hover{
    opacity: 0.90;
    cursor: pointer;
    background-color: black;

    
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 1.5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#your-score,#computer-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 4rem;
}
#msg{
    background-color: rgb(11, 60, 117);
    color: antiquewhite;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
#reset-btn{
    margin-top: 10px;
    background-color: red;
    color: antiquewhite;
    padding: 10px;
    border-radius: 1rem;
    border: none;
    font-weight: bolder;

}
#reset-btn:hover{
    opacity: 0.90;
    border: 1px solid black;
    cursor:pointer;
}